CREATE TABLE "litemall_user" (
  "id" integer PRIMARY KEY NOT NULL,
  "username" varchar NOT NULL,
  "password" varchar NOT NULL,
  "gender" boolean NOT NULL,
  "birthday" date,
  "last_login_time" datetime,
  "last_login_ip" varchar NOT NULL,
  "user_level" boolean,
  "nickname" varchar NOT NULL,
  "mobile" varchar NOT NULL,
  "avatar" varchar NOT NULL,
  "weixin_openid" varchar NOT NULL,
  "session_key" varchar NOT NULL,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_goods" (
  "id" integer PRIMARY KEY NOT NULL,
  "goods_sn" varchar NOT NULL,
  "name" varchar NOT NULL,
  "category_id" integer NOT NULL,
  "brand_id" integer,
  "gallery" varchar,
  "keywords" varchar,
  "brief" varchar,
  "is_on_sale" boolean NOT NULL,
  "sort_order" smallint NOT NULL,
  "pic_url" varchar,
  "share_url" varchar,
  "is_new" boolean NOT NULL,
  "is_hot" boolean NOT NULL,
  "unit" varchar,
  "counter_price" decimal,
  "retail_price" decimal NOT NULL,
  "detail" text,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_order" (
  "id" integer PRIMARY KEY NOT NULL,
  "user_id" integer NOT NULL,
  "order_sn" varchar NOT NULL,
  "order_status" smallint NOT NULL,
  "consignee" varchar NOT NULL,
  "mobile" varchar NOT NULL,
  "address" varchar NOT NULL,
  "message" varchar NOT NULL,
  "pay_id" varchar,
  "pay_time" datetime,
  "ship_sn" varchar,
  "ship_channel" varchar,
  "ship_time" datetime,
  "confirm_time" datetime,
  "comments" smallint,
  "end_time" datetime,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_order_goods" (
  "id" integer PRIMARY KEY NOT NULL,
  "order_id" integer NOT NULL,
  "goods_id" integer NOT NULL,
  "goods_name" varchar NOT NULL,
  "goods_sn" varchar NOT NULL,
  "product_id" integer NOT NULL,
  "number" smallint NOT NULL,
  "price" decimal NOT NULL,
  "specifications" varchar NOT NULL,
  "pic_url" varchar NOT NULL,
  "comment" integer,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_category" (
  "id" integer PRIMARY KEY NOT NULL,
  "name" varchar NOT NULL,
  "keywords" varchar,
  "desc" varchar,
  "pid" integer NOT NULL,
  "icon_url" varchar,
  "pic_url" varchar,
  "level" varchar,
  "sort_order" smallint,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_cart" (
  "id" integer PRIMARY KEY NOT NULL,
  "user_id" integer NOT NULL,
  "goods_id" integer NOT NULL,
  "goods_sn" varchar NOT NULL,
  "goods_name" varchar NOT NULL,
  "product_id" integer NOT NULL,
  "price" decimal NOT NULL,
  "number" smallint NOT NULL,
  "specifications" varchar NOT NULL,
  "checked" boolean NOT NULL,
  "pic_url" varchar NOT NULL,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_address" (
  "id" integer PRIMARY KEY NOT NULL,
  "user_id" integer NOT NULL,
  "name" varchar NOT NULL,
  "mobile" varchar NOT NULL,
  "province" integer NOT NULL,
  "city" integer NOT NULL,
  "county" integer NOT NULL,
  "address_detail" varchar NOT NULL,
  "area_code" varchar,
  "postal_code" varchar,
  "is_default" boolean NOT NULL,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_admin" (
  "id" integer PRIMARY KEY NOT NULL,
  "username" varchar NOT NULL,
  "password" varchar NOT NULL,
  "last_login_ip" varchar,
  "last_login_time" datetime,
  "avatar" varchar,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_role" (
  "id" integer PRIMARY KEY NOT NULL,
  "name" varchar NOT NULL,
  "desc" varchar,
  "enabled" boolean,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

CREATE TABLE "litemall_permission" (
  "id" integer PRIMARY KEY NOT NULL,
  "role_id" integer,
  "permission" varchar,
  "add_time" datetime,
  "update_time" datetime,
  "deleted" boolean
);

COMMENT ON TABLE "litemall_user" IS '用户表';

COMMENT ON TABLE "litemall_goods" IS '商品表';

COMMENT ON TABLE "litemall_order" IS '订单表';

COMMENT ON TABLE "litemall_order_goods" IS '订单商品表';

COMMENT ON TABLE "litemall_category" IS '分类表';

COMMENT ON TABLE "litemall_cart" IS '购物车表';

COMMENT ON TABLE "litemall_address" IS '收货地址表';

COMMENT ON TABLE "litemall_admin" IS '管理员表';

COMMENT ON TABLE "litemall_role" IS '角色表';

COMMENT ON TABLE "litemall_permission" IS '权限表';

ALTER TABLE "litemall_address" ADD FOREIGN KEY ("user_id") REFERENCES "litemall_user" ("id");

ALTER TABLE "litemall_cart" ADD FOREIGN KEY ("user_id") REFERENCES "litemall_user" ("id");

ALTER TABLE "litemall_cart" ADD FOREIGN KEY ("goods_id") REFERENCES "litemall_goods" ("id");

ALTER TABLE "litemall_goods" ADD FOREIGN KEY ("category_id") REFERENCES "litemall_category" ("id");

ALTER TABLE "litemall_order" ADD FOREIGN KEY ("user_id") REFERENCES "litemall_user" ("id");

ALTER TABLE "litemall_order_goods" ADD FOREIGN KEY ("order_id") REFERENCES "litemall_order" ("id");

ALTER TABLE "litemall_order_goods" ADD FOREIGN KEY ("goods_id") REFERENCES "litemall_goods" ("id");

ALTER TABLE "litemall_category" ADD FOREIGN KEY ("pid") REFERENCES "litemall_category" ("id");

ALTER TABLE "litemall_permission" ADD FOREIGN KEY ("role_id") REFERENCES "litemall_role" ("id");

